/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*global*/
*,
*:before,
*:after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #e5e5e5;
}

img {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  fill: inherit;
  stroke: inherit;
  transition: fill 0.5s ease;
}

path {
  transition: fill 0.5s ease;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

/*reset*/
.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  text-align: center;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.input-reset {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  resize: none;
  outline: none;
  border-radius: 0;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*default*/
.container {
  max-width: 1190px;
  padding: 0 25px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.paragraph {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.header {
  background-color: #222222;
  padding: 17px 0;
}
@media (max-width: 1024px) {
  .header {
    padding-bottom: 15px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: inline-block;
  margin-right: 36px;
}
@media (max-width: 1024px) {
  .header__left {
    margin-left: 15px;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .header__left {
    margin-left: 0;
  }
}
.header__right {
  display: flex;
  gap: 34px;
  margin-right: 10px;
  margin-top: 5px;
}
@media (max-width: 1024px) {
  .header__right {
    margin-right: 27px;
    margin-top: 8px;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .header__right {
    margin-top: -2px;
    margin-right: 0;
  }
}
.header__btn-burger {
  position: relative;
  display: inline-block;
  margin-top: 5px;
}
@media (max-width: 1024px) {
  .header__btn-burger {
    margin-right: -14px;
  }
}
@media (max-width: 767px) {
  .header__btn-burger {
    margin-right: 0;
  }
}
.header__btn-input {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}
.header__btn-input:checked ~ .header__btn-burger-menu {
  right: 0;
}
.header__btn-personal-area {
  margin-left: -8px;
  margin-right: 6px;
}
@media (max-width: 767px) {
  .header__btn-personal-area {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__btn-cart {
    display: none;
  }
}
.header__btn-burger-menu {
  position: absolute;
  z-index: 15;
  top: 77px;
  right: -200%;
  width: 232px;
  padding: 39px 25px 39px 31px;
  background-color: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: right 0.5s ease-out;
}
.header__btn-burger-menu-close {
  position: absolute;
  top: 15px;
  right: 16px;
}
.header__btn-burger-menu-close:hover .header__btn-burger-menu-close-svg path {
  fill: #f16d7f;
}
@media (max-width: 767px) {
  .header__btn-burger-menu {
    width: 100%;
  }
}
.header__btn-burger-menu-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.header__btn-burger-menu-item-subtitle {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}
.header__btn-burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.header__btn-burger-menu-sublist {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.header__btn-burger-menu-subitem {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 25px;
}
.header__btn-burger-menu-link {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  transition: color 0.5s ease;
}
.header__btn-burger-menu-link:hover {
  color: #f16d7f;
}
.header__btn-cart {
  position: relative;
}
.header__btn-cart--add::before {
  position: absolute;
  top: -7px;
  right: -9px;
  content: "5";
  padding: 2.5px 5px;
  border-radius: 100%;
  color: #ffffff;
  background-color: #f16d7f;
}
.header__btn-search:hover .header__btn-search-svg-path, .header__btn-burger:hover .header__btn-burger-svg-path, .header__btn-personal-area:hover .header__btn-personal-area-svg-path, .header__btn-cart:hover .header__btn-cart-svg-path {
  fill: #f16d7f;
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.wrapper {
  position: relative;
  overflow: hidden;
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.hero {
  background-color: #f1e4e6;
}
.hero__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-image: url("../img/hero.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: -53%;
}
@media (max-width: 1024px) {
  .hero__container {
    background-size: contain;
    background-position: 0;
  }
}
@media (max-width: 767px) {
  .hero__container {
    justify-content: center;
    background-image: none;
  }
}
.hero__title {
  position: relative;
  padding-top: 292px;
  padding-bottom: 375px;
  margin-right: 102px;
  width: 377px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.hero__title::before {
  content: "";
  position: absolute;
  left: -27px;
  height: 90px;
  border-left: 12px solid #f16d7f;
}
@media (max-width: 1024px) {
  .hero__title::before {
    left: -28px;
    top: 139px;
    height: 91px;
  }
}
@media (max-width: 767px) {
  .hero__title::before {
    height: 61px;
    top: 150px;
  }
}
.hero__title-span {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.hero__title-span-pink {
  color: #f16d7f;
}
@media (max-width: 1024px) {
  .hero__title-span {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 767px) {
  .hero__title-span {
    font-size: 38px;
    line-height: 45px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    padding-top: 144px;
    padding-bottom: 155px;
    margin-right: 16px;
    width: 284px;
    font-size: 24px;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
  .hero__title {
    padding-top: 152px;
    padding-bottom: 150px;
    margin-right: -27px;
    width: 236px;
    font-size: 20px;
    line-height: 16px;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.cart {
  padding-top: 95px;
  padding-bottom: 128px;
}
@media (max-width: 1024px) {
  .cart {
    padding-top: 59px;
  }
}
@media (max-width: 767px) {
  .cart {
    padding-top: 39px;
    padding-bottom: 96px;
  }
}
@media (max-width: 767px) {
  .cart__container {
    padding: 0 10px;
  }
}
.cart__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .cart__wrapper {
    flex-direction: column;
  }
}
.cart__wrapper-left {
  display: flex;
  flex-direction: column;
  width: 652px;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .cart__wrapper-left {
    width: 100%;
    margin-left: 0;
  }
}
.cart__wrapper-right {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  margin-left: 30px;
  width: 360px;
}
@media (max-width: 1024px) {
  .cart__wrapper-right {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 63px;
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .cart__wrapper-right {
    flex-direction: column;
    margin-top: 50px;
  }
}
.cart__products {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 767px) {
  .cart__products {
    gap: 30px;
  }
}
.cart__product {
  position: relative;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
@media (max-width: 767px) {
  .cart__product {
    min-height: 188px;
  }
}
.cart__product-btn-close {
  position: absolute;
  top: 28px;
  right: 22px;
}
.cart__product-btn-close:hover path {
  fill: #f16d7f;
}
@media (max-width: 1024px) {
  .cart__product-btn-close {
    right: 26px;
  }
}
@media (max-width: 767px) {
  .cart__product-btn-close {
    top: 17px;
    right: 10px;
  }
  .cart__product-btn-close svg {
    width: 10px;
    height: 11px;
  }
}
.cart__product-img {
  width: 262px;
}
@media (max-width: 767px) {
  .cart__product-img {
    width: 144px;
    height: auto;
  }
}
.cart__product-text {
  padding: 22px 31px 62px;
}
@media (max-width: 767px) {
  .cart__product-text {
    padding: 16px 17px 16px;
  }
}
.cart__product-title {
  margin-bottom: 42px;
  width: 210px;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #222222;
}
@media (max-width: 767px) {
  .cart__product-title {
    margin-bottom: 25px;
    width: 76%;
    font-size: 16px;
  }
}
.cart__product-wrapper {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: #575757;
}
@media (max-width: 767px) {
  .cart__product-wrapper {
    font-size: 14px;
  }
}
.cart__product-price {
  margin-bottom: 6px;
}
.cart__product-price-span {
  color: #EF5B70;
}
@media (max-width: 767px) {
  .cart__product-price {
    margin-bottom: 2px;
  }
}
.cart__product-color {
  margin-bottom: 6px;
}
.cart__product-color-span {
  color: #6f6e6e;
}
@media (max-width: 767px) {
  .cart__product-color {
    margin-bottom: 2px;
  }
}
.cart__product-size {
  margin-bottom: 6px;
}
.cart__product-size-span {
  color: #6f6e6e;
}
@media (max-width: 767px) {
  .cart__product-size {
    margin-bottom: 2px;
  }
}
.cart__product-quantity-input {
  margin-left: 31px;
  padding: 4px;
  width: 40px;
  text-align: center;
  border: 1px solid #EAEAEA;
  color: #6f6e6e;
}
@media (max-width: 767px) {
  .cart__product-quantity-input {
    margin-left: 25px;
    padding: 0;
    font-size: 10px;
  }
}
.cart__product-color {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  color: #575757;
}
@media (max-width: 767px) {
  .cart__product-color {
    font-size: 14px;
  }
}
.cart__nav-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
}
@media (max-width: 1024px) {
  .cart__nav-btn {
    margin-top: 57px;
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .cart__nav-btn {
    margin-top: 30px;
    gap: 8px;
  }
}
.cart__btn-clear, .cart__btn-continue {
  display: block;
  padding: 17px 38px;
  border: 1px solid #A4A4A4;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
@media (max-width: 767px) {
  .cart__btn-clear, .cart__btn-continue {
    padding: 10px 37px;
    font-size: 12px;
    text-transform: lowercase;
  }
}
.cart__btn-clear:hover, .cart__btn-continue:hover {
  color: #ffffff;
  background-color: #f26376;
}
.cart__form-title {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.cart__input {
  padding: 13px 16px;
  margin-top: 21px;
  width: 100%;
  border: 1px solid #A4A4A4;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 767px) {
  .cart__input {
    margin-top: 20px;
  }
}
.cart__input::-moz-placeholder {
  color: #B1B1B1;
}
.cart__input::placeholder {
  color: #B1B1B1;
}
.cart__form-btn {
  padding: 11px 13px;
  margin-top: 23px;
  border: 1px solid #A4A4A4;
  color: #A4A4A4;
  font-size: 11px;
  font-weight: 300;
  line-height: normal;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
@media (max-width: 767px) {
  .cart__form-btn {
    padding: 12px 21px;
    margin-top: 25px;
    text-transform: lowercase;
  }
}
.cart__form-btn:hover {
  color: #ffffff;
  background-color: #f26376;
}
.cart__amount {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 55px;
  padding: 43px 35px 42px;
  background-color: #F5F3F3;
}
@media (max-width: 767px) {
  .cart__amount {
    padding: 43px 28px 42px;
  }
}
.cart__amount-total {
  margin-bottom: 12px;
  color: #A4A4A4;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.cart__amount-total-span {
  padding-left: 23px;
}
.cart__amount-grand {
  margin-bottom: 39px;
  margin-right: 4px;
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.cart__amount-grand-span {
  padding-left: 25px;
  color: #f16d7f;
}
.cart__amount-btn {
  position: relative;
  padding: 15px 37px;
  margin: 0 9px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  background-color: #f16d7f;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.cart__amount-btn::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: -20px;
  left: 0;
  border-top: 1px solid #E2E2E2;
}
.cart__amount-btn:hover {
  color: #f26376;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cart__amount-btn {
    padding: 15px 33px;
    margin: 0 15px;
  }
}
@media (max-width: 1024px) {
  .cart__delivery-address {
    width: 49%;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .cart__delivery-address {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .cart__amount {
    width: 49%;
    margin-top: 36px;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .cart__amount {
    width: 100%;
    margin-top: 45px;
    height: -moz-fit-content;
    height: fit-content;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.registration {
  padding-top: 64px;
  padding-bottom: 98px;
}
@media (max-width: 1024px) {
  .registration {
    padding-top: 42px;
  }
}
@media (max-width: 767px) {
  .registration {
    padding-bottom: 105px;
  }
}
.registration__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .registration__container {
    padding: 0 10px;
    flex-direction: column;
  }
}
.registration__left {
  width: 359px;
}
@media (max-width: 1024px) {
  .registration__left {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .registration__left {
    width: 100%;
  }
}
.registration__right {
  width: 652px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .registration__right {
    width: 100%;
    margin-left: 0;
    margin-top: 41px;
  }
}
.registration__form {
  display: flex;
  flex-direction: column;
}
.registration__subtitle {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.registration__input-field {
  margin-top: 20px;
  padding: 13px 17px 17px;
  width: 100%;
  border: 1px solid #A4A4A4;
  color: #000000;
  font-size: 11px;
  font-weight: 300;
  line-height: normal;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.registration__input-field::-moz-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.registration__input-field::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.registration__input-field:hover {
  background-color: #e1e1e1;
}
.registration__wrapper-input-radio {
  display: flex;
  margin-top: 33px;
  margin-bottom: 33px;
}
.registration__label-radio {
  display: flex;
  align-items: center;
  margin-right: 18px;
  color: #000000;
  font-size: 11px;
  font-weight: 300;
  line-height: normal;
}
.registration__input-radio {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  color: #000000;
  font-size: 11px;
  font-weight: 300;
  line-height: normal;
  display: none;
}
.registration__input-radio-svg {
  margin-right: 9px;
  fill: #ffffff;
}
.registration__input-radio:checked + svg {
  fill: #000000;
}
.registration__label-radio:first-child {
  margin-right: 22px;
}
.registration__text {
  margin-top: 15px;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}
.registration__btn {
  margin-top: 40px;
  padding: 16px 29px 16px 29px;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: #f16d7f;
  transition-property: color, background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.registration__btn:hover {
  border-color: #f26376;
  color: #f26376;
  background-color: #ffffff;
}
.registration__btn:hover path {
  fill: #f26376;
}
.registration__btn-svg {
  margin-left: 18px;
}
.registration__title {
  margin-bottom: 22px;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 1024px) {
  .registration__title {
    margin-bottom: 32px;
    font-size: 16px;
  }
}
.registration__description {
  margin-bottom: 20px;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 1024px) {
  .registration__description {
    font-size: 16px;
  }
}
.registration__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1024px) {
  .registration__list {
    gap: 20px;
  }
}
.registration__item {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 1024px) {
  .registration__item {
    font-size: 16px;
  }
}
.registration__item-svg {
  margin-right: 15px;
}
@media (max-width: 1024px) {
  .registration__item-svg {
    margin-right: 19px;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.breadcrumbs {
  background-color: #F8F3F4;
}
.breadcrumbs__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  padding-bottom: 53px;
}
@media (max-width: 1024px) {
  .breadcrumbs__container {
    padding-top: 58px;
  }
}
@media (max-width: 767px) {
  .breadcrumbs__container {
    flex-direction: column;
    gap: 26px;
    padding-top: 22px;
    padding-bottom: 44px;
  }
}
.breadcrumbs__title {
  margin-left: 24px;
  font-size: 24px;
  font-weight: 400;
  color: #f16d7f;
}
@media (max-width: 1024px) {
  .breadcrumbs__title {
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .breadcrumbs__title {
    margin-left: 0px;
  }
}
.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 7px;
  margin-right: 25px;
}
@media (max-width: 1024px) {
  .breadcrumbs__list {
    margin-right: 18px;
  }
}
@media (max-width: 767px) {
  .breadcrumbs__list {
    margin-right: 2px;
    margin-bottom: 0;
  }
}
.breadcrumbs__item:last-child .breadcrumbs__link {
  font-weight: 700;
  color: #f16d7f;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #636363;
  transition: color 0.5s ease;
}
.breadcrumbs__link:hover {
  color: #f16d7f;
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.heading {
  background-color: #F8F3F4;
}
.heading__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 57px;
  padding-bottom: 53px;
}
@media (max-width: 767px) {
  .heading__container {
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 63px;
  }
}
.heading__title {
  font-size: 24px;
  font-weight: 400;
  color: #f16d7f;
}
@media (max-width: 767px) {
  .heading__title {
    margin-left: 16px;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.assortment {
  padding-top: 65px;
}
@media (max-width: 767px) {
  .assortment {
    padding-top: 64px;
  }
}
.assortment__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  grid-gap: 30px;
}
@media (max-width: 1024px) {
  .assortment__list {
    grid-template-rows: 168px 115px;
    grid-gap: 19px;
  }
}
@media (max-width: 767px) {
  .assortment__list {
    grid-template-columns: 1fr;
    grid-template-rows: 247px 249px 249px 111px;
    grid-gap: 32px;
  }
}
.assortment__item--grid-full {
  grid-column: 1/-1;
}
.assortment__link {
  display: block;
  position: relative;
  height: 100%;
}
.assortment__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}
@media (max-width: 1024px) {
  .assortment__link {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .assortment__link {
    overflow: hidden;
  }
}
.assortment__img {
  width: 100%;
}
.assortment__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}
.assortment__title-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 767px) {
  .assortment__title--fix {
    top: 52%;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.product {
  padding-top: 100px;
  padding-bottom: 94px;
}
@media (max-width: 1024px) {
  .product {
    padding-top: 113px;
    padding-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .product {
    padding-top: 66px;
    padding-bottom: 95px;
  }
}
.product__container {
  display: flex;
  flex-direction: column;
}
.product__title {
  text-align: center;
  font-weight: 400;
}
.product__paragraph {
  margin-top: 4px;
  margin-bottom: 47px;
  text-align: center;
  color: #9f9f9f;
}
@media (max-width: 1024px) {
  .product__paragraph {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .product__paragraph {
    margin-top: 2px;
    margin-bottom: 63px;
  }
}
.product__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .product__list {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .product__list {
    grid-template-columns: 360px;
    gap: 14px;
  }
}
.product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.product__item:hover .product__img {
  filter: brightness(0.5);
}
.product__item:hover .product__add {
  display: flex;
}
.product__img {
  position: relative;
  min-height: 0;
  transition: filter 0.5s ease;
}
@media (max-width: 767px) {
  .product__img {
    width: 100%;
  }
}
.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #ffffff;
  width: 139px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
  transition: box-shadow 0.5s ease;
}
.product__add:hover {
  box-shadow: 0 0 5px #ffffff;
}
.product__add:hover svg path {
  fill: #f16d7f;
}
@media (max-width: 767px) {
  .product__add {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.product__text {
  padding: 26px 16px 19px 19px;
}
.product__subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-align: start;
}
@media (max-width: 1024px) {
  .product__subtitle {
    margin-bottom: 12px;
  }
}
.product__subparagraph {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
@media (max-width: 1024px) {
  .product__subparagraph {
    margin-bottom: 18px;
  }
}
.product__price {
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.product__btn {
  display: block;
  margin: 0 auto;
  margin-top: 46px;
  padding: 14px 38px;
  border: 1px solid #ff6a6a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.product__btn:hover {
  color: #ffffff;
  background-color: #f26376;
}
@media (max-width: 1024px) {
  .product__btn {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .product__btn {
    margin-top: 41px;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.product-catalog {
  position: relative;
  padding-top: 51px;
  padding-bottom: 94px;
}
@media (max-width: 1024px) {
  .product-catalog {
    padding-top: 25px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .product-catalog {
    padding-top: 27px;
    padding-bottom: 62px;
  }
}
.product-catalog__wrapper {
  position: relative;
  display: flex;
  margin-bottom: 64px;
  gap: 30px;
}
@media (max-width: 1024px) {
  .product-catalog__wrapper {
    justify-content: space-between;
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .product-catalog__wrapper {
    gap: 58px;
    justify-content: flex-end;
  }
}
.product-catalog__filter {
  position: relative;
  width: 360px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .product-catalog__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.product-catalog__filter-details {
  position: absolute;
  top: -13px;
  left: -15px;
  z-index: 1;
  width: 100%;
  padding: 13px 16px 16px;
  transition-property: background-color, box-shadow, top, left;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
@media (max-width: 767px) {
  .product-catalog__filter-details {
    left: -28px;
    padding: 8px 8px 8px;
  }
}
.product-catalog__filter-details[open] {
  position: absolute;
  top: -12px;
  left: 1px;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
@media (max-width: 767px) {
  .product-catalog__filter-details[open] {
    top: 30px;
  }
}
.product-catalog__filter-details[closed] {
  position: absolute;
  top: -13px;
  left: -15px;
  background-color: inherit;
  box-shadow: inherit;
}
.product-catalog__filter-details[open] .product-catalog__filter-summary {
  color: #EF5B70;
}
.product-catalog__filter-details[open] .product-catalog__filter-summary-svg path {
  fill: #EF5B70;
}
.product-catalog__filter-summary {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: #000000;
  transition: color 0.5s ease;
}
@media (max-width: 767px) {
  .product-catalog__filter-summary {
    font-size: 0;
  }
}
.product-catalog__filter-summary-svg {
  padding-left: 13px;
}
@media (max-width: 767px) {
  .product-catalog__filter-summary-svg {
    width: 37.5px;
    height: 25px;
  }
}
.product-catalog__filter-summary[open] {
  color: #f16d7f;
}
.product-catalog__filter-summary:hover {
  color: #EF5B70;
}
.product-catalog__filter-summary:hover .product-catalog__filter-summary-svg path {
  fill: #EF5B70;
}
.product-catalog__filter-list {
  display: flex;
  flex-direction: column;
}
.product-catalog__filter-details-category {
  margin-top: 16px;
}
.product-catalog__filter-details-category[open] .product-catalog__filter-summary-category {
  color: #f16d7f;
}
.product-catalog__filter-summary-category {
  padding: 8px 11px 11px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #EBEBEB;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #6f6e6e;
  transition: color 0.5s ease;
}
.product-catalog__filter-summary-category[open] {
  color: #F16D7F;
}
.product-catalog__filter-summary-category:hover {
  color: #F16D7F;
}
.product-catalog__filter-sublist {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  padding-bottom: 10px;
  gap: 8px;
}
.product-catalog__filter-link {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #6f6e6e;
  transition: color 0.5s ease;
}
.product-catalog__filter-link:hover {
  color: #f16d7f;
}
.product-catalog__sort {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.product-catalog__sort-details {
  position: relative;
}
@media (max-width: 767px) {
  .product-catalog__sort-details {
    z-index: 10;
  }
}
.product-catalog__sort-summary {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #6f6e6e;
  cursor: pointer;
  transition: color 0.5s ease;
}
.product-catalog__sort-summary-svg {
  padding-left: 10px;
}
@media (max-width: 767px) {
  .product-catalog__sort-summary-svg {
    padding-left: 2px;
  }
}
.product-catalog__sort-summary:hover {
  color: #EF5B70;
}
.product-catalog__sort-summary:hover .product-catalog__sort-summary-svg path {
  fill: #EF5B70;
}
@media (max-width: 767px) {
  .product-catalog__sort-summary {
    font-size: 12px;
  }
}
.product-catalog__sort-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 62px;
  padding: 7px 9px 5px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  top: 22px;
  left: -9px;
}
.product-catalog__sort-label {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}
.product-catalog__sort-span {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  transition: color 0.5s ease;
}
.product-catalog__sort-span:hover {
  color: #f16d7f;
}
.product-catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .product-catalog__list {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .product-catalog__list {
    grid-template-columns: 360px;
    gap: 14px;
  }
}
.product-catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.product-catalog__item:hover .product-catalog__img {
  filter: brightness(0.5);
}
.product-catalog__item:hover .product-catalog__add {
  display: flex;
}
@media (max-width: 1024px) {
  .product-catalog__item:last-child {
    display: none;
  }
}
.product-catalog__img {
  position: relative;
  min-height: 0;
  transition: filter 0.5s ease;
}
@media (max-width: 767px) {
  .product-catalog__img {
    width: 100%;
  }
}
.product-catalog__text {
  padding: 26px 16px 19px 19px;
}
.product-catalog__subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-align: start;
}
@media (max-width: 1024px) {
  .product-catalog__subtitle {
    margin-bottom: 12px;
  }
}
.product-catalog__subparagraph {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
@media (max-width: 1024px) {
  .product-catalog__subparagraph {
    margin-bottom: 18px;
  }
}
.product-catalog__price {
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.product-catalog__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #ffffff;
  width: 139px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
  transition: box-shadow 0.5s ease;
}
.product-catalog__add:hover {
  box-shadow: 0 0 5px #ffffff;
}
.product-catalog__add:hover svg path {
  fill: #f16d7f;
}
@media (max-width: 767px) {
  .product-catalog__add {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.product-catalog__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 47px;
  margin-left: -30px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .product-catalog__pagination {
    margin-top: 38px;
    margin-left: 29px;
  }
}
@media (max-width: 767px) {
  .product-catalog__pagination {
    margin-top: 44px;
    margin-left: 29px;
    margin-right: 29px;
  }
}
.product-catalog__pagination-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 12px 16px;
}
@media (max-width: 1024px) {
  .product-catalog__pagination-list {
    gap: 22px;
  }
}
.product-catalog__pagination-item:first-child .product-catalog__pagination-link {
  color: #EF5B70;
}
.product-catalog__pagination-link {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  color: #C4C4C4;
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
@media (max-width: 767px) {
  .product-personal__container {
    padding: 0;
  }
}
.product-personal__wrapper-swiper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  background-color: #fbfbfb;
}
.product-personal__left-btn {
  position: absolute;
  left: 2.5%;
  top: 49%;
  padding: 8px;
  background-color: rgba(42, 42, 42, 0.15);
}
@media (max-width: 1024px) {
  .product-personal__left-btn {
    left: 0;
    top: 48%;
  }
}
@media (max-width: 767px) {
  .product-personal__left-btn {
    top: 53%;
  }
}
.product-personal__left-btn:hover svg path {
  fill: #f16d7f;
}
.product-personal__right-btn {
  position: absolute;
  right: 2.5%;
  top: 49%;
  padding: 8px;
  background-color: rgba(42, 42, 42, 0.15);
}
@media (max-width: 1024px) {
  .product-personal__right-btn {
    right: 0;
    top: 48%;
  }
}
@media (max-width: 767px) {
  .product-personal__right-btn {
    top: 53%;
  }
}
.product-personal__right-btn:hover svg path {
  fill: #f16d7f;
}
.product-personal__image {
  padding-left: 25px;
  padding-top: 10px;
}
@media (max-width: 1024px) {
  .product-personal__image {
    width: 466px;
    padding-top: 27px;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .product-personal__image {
    padding-top: 84px;
  }
}
.product-personal__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -28px;
  padding: 67px 64px;
  border: 1px solid #EAEAEA;
  background-color: #ffffff;
}
@media (max-width: 1024px) {
  .product-personal__text {
    top: 29px;
  }
}
@media (max-width: 767px) {
  .product-personal__text {
    top: 82px;
    padding: 67px 25px 64px;
    border-left: none;
    border-right: none;
  }
}
.product-personal__text-collection {
  position: relative;
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #f16d7f;
}
.product-personal__text-collection::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 41px;
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
}
.product-personal__text-title {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: #4D4D4D;
}
@media (max-width: 1024px) {
  .product-personal__text-title {
    margin-bottom: 47px;
  }
}
@media (max-width: 767px) {
  .product-personal__text-title {
    margin-bottom: 33px;
  }
}
.product-personal__text-description {
  margin-bottom: 32px;
  width: 555px;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #5E5E5E;
  text-align: center;
}
@media (max-width: 767px) {
  .product-personal__text-description {
    width: 100%;
    margin-bottom: 39px;
    line-height: 140%;
  }
}
.product-personal__text-price {
  position: relative;
  margin-right: 20px;
  margin-bottom: 129px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #EF5B70;
}
.product-personal__text-price::after {
  content: "";
  position: absolute;
  bottom: -63px;
  left: -276px;
  width: 641px;
  height: 1px;
  background-color: #EAEAEA;
}
@media (max-width: 767px) {
  .product-personal__text-price::after {
    width: 175px;
    bottom: -29px;
    left: -59px;
  }
}
@media (max-width: 1024px) {
  .product-personal__text-price {
    margin-right: 0;
    margin-bottom: 131px;
  }
}
@media (max-width: 767px) {
  .product-personal__text-price {
    margin-bottom: 79px;
  }
}
.product-personal__btn {
  display: flex;
  align-items: center;
  padding: 10px 42px;
  margin-top: 48px;
  border: 1px solid #f26376;
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
@media (max-width: 767px) {
  .product-personal__btn {
    margin-top: 64px;
  }
}
.product-personal__btn:hover {
  color: #ffffff;
  background-color: #f26376;
}
.product-personal__btn:hover svg path {
  fill: #ffffff;
}
.product-personal__btn svg {
  margin-right: 22px;
}
.product-personal__sort {
  display: flex;
}
.product-personal__sort-details:not(:last-child) {
  margin-right: 42px;
}
@media (max-width: 767px) {
  .product-personal__sort-details:not(:last-child) {
    margin-right: 28px;
  }
}
.product-personal__sort-summary svg {
  padding-left: 9px;
  padding-left: 8px;
}
.product-personal__sort-summary {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  transition: color 0.5s ease;
  cursor: pointer;
}
.product-personal__sort-summary:hover {
  color: #EF5B70;
}
.product-personal__sort-summary:hover svg path {
  fill: #EF5B70;
}
@media (max-width: 767px) {
  .product-personal__sort-summary {
    font-size: 10px;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.product-other {
  padding-top: 97px;
  padding-bottom: 125px;
}
@media (max-width: 1024px) {
  .product-other {
    padding-top: 153px;
    padding-bottom: 128px;
  }
}
@media (max-width: 767px) {
  .product-other {
    padding-top: 146px;
    padding-bottom: 63px;
  }
}
.product-other__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .product-other__list {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .product-other__list {
    grid-template-columns: 360px;
    gap: 0;
  }
}
.product-other__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.product-other__item:hover .product-other__img {
  filter: brightness(0.5);
}
.product-other__item:hover .product-other__add {
  display: flex;
}
@media (max-width: 1024px) {
  .product-other__item:last-child {
    display: none;
  }
}
.product-other__img {
  position: relative;
  min-height: 0;
  transition: filter 0.5s ease;
}
@media (max-width: 767px) {
  .product-other__img {
    width: 100%;
  }
}
.product-other__text {
  padding: 26px 16px 19px 19px;
}
.product-other__subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-align: start;
}
@media (max-width: 1024px) {
  .product-other__subtitle {
    margin-bottom: 12px;
  }
}
.product-other__subparagraph {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
@media (max-width: 1024px) {
  .product-other__subparagraph {
    margin-bottom: 18px;
  }
}
.product-other__price {
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.product-other__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #ffffff;
  width: 139px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
  transition: box-shadow 0.5s ease;
}
.product-other__add:hover {
  box-shadow: 0 0 5px #ffffff;
}
.product-other__add:hover svg path {
  fill: #f16d7f;
}
@media (max-width: 767px) {
  .product-other__add {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.advantages {
  padding-top: 103px;
  padding-bottom: 105px;
  background-color: #222222;
}
@media (max-width: 1024px) {
  .advantages {
    padding-top: 48px;
    padding-bottom: 62px;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding-bottom: 80px;
  }
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 134px;
  gap: 30px;
}
@media (max-width: 1024px) {
  .advantages__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 134px);
    gap: 49px;
  }
}
@media (max-width: 767px) {
  .advantages__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 128px);
    justify-content: center;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}
.advantages__item--icon1 {
  background-image: url("../img/advantages_icon1.svg");
}
.advantages__item--icon2 {
  background-image: url("../img/advantages_icon2.svg");
}
.advantages__item--icon3 {
  background-image: url("../img/advantages_icon3.svg");
}
@media (max-width: 1024px) {
  .advantages__item {
    align-items: center;
  }
}
.advantages__subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f8f8f8;
  text-align: center;
}
@media (max-width: 1024px) {
  .advantages__subtitle {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .advantages__subtitle {
    margin-bottom: 13px;
  }
}
.advantages__paragraph {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #f8f8f8;
}
@media (max-width: 1024px) {
  .advantages__paragraph {
    width: 360px;
  }
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.subscription {
  position: relative;
  z-index: 1;
  padding-top: 97px;
  padding-bottom: 151px;
  background-image: url("../img/subscription.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .subscription {
    padding-top: 64px;
    padding-bottom: 136px;
    background-position: 25%;
  }
}
@media (max-width: 767px) {
  .subscription {
    background-position: 25%;
    padding-top: 64px;
    padding-bottom: 105px;
  }
}
.subscription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
}
.subscription__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .subscription__container {
    flex-direction: column;
    gap: 47px;
  }
}
@media (max-width: 767px) {
  .subscription__container {
    flex-direction: column;
    gap: 33px;
  }
}
.subscription__info {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}
@media (max-width: 767px) {
  .subscription__info {
    max-width: 100%;
  }
}
.subscription__subscribe {
  z-index: 3;
}
.subscription__paragraph {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}
@media (max-width: 1024px) {
  .subscription__paragraph {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .subscription__paragraph {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
  }
}
.subscription__img {
  width: 95px;
  height: 95px;
  margin-right: 15px;
}
.subscription__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  gap: 20px;
  margin-right: 100px;
}
@media (max-width: 1024px) {
  .subscription__subscribe {
    margin-right: 0;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .subscription__subscribe {
    margin-right: 0;
  }
}
.subscription__title {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222222;
}
.subscription__title-span {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  color: #222222;
}
@media (max-width: 1024px) {
  .subscription__title-span {
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  .subscription__title-span {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  .subscription__title {
    font-size: 14px;
    line-height: 18px;
  }
}
.subscription__form {
  display: flex;
  margin-bottom: 2px;
}
@media (max-width: 1024px) {
  .subscription__form {
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  .subscription__form {
    width: 100%;
  }
}
.subscription__input {
  padding: 17px 22px;
  width: 256px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222222;
  background-color: #e1e1e1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.subscription__input::-moz-placeholder {
  opacity: 0.67;
}
.subscription__input::placeholder {
  opacity: 0.67;
}
@media (max-width: 1024px) {
  .subscription__input {
    width: 255px;
    padding: 17px 17px;
  }
}
@media (max-width: 767px) {
  .subscription__input {
    width: 250px;
  }
}
.subscription__btn {
  padding: 17px 17px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #f16d7f;
}

/*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
/* stylelint-disable */ /* stylelint-disable */ /*container*/
/*breakpoint*/
/*font-weight*/
/*font-family*/
/*font-normal*/
/*color*/
.footer {
  background-color: #222222;
  padding: 24px 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 43px 0 9px 0;
  }
}
.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column-reverse;
  }
}
.footer__copyright {
  margin-left: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  color: #fbfbfb;
}
@media (max-width: 1024px) {
  .footer__copyright {
    margin-left: 14px;
  }
}
@media (max-width: 767px) {
  .footer__copyright {
    margin-left: 0;
  }
}
.footer__list-social {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
@media (max-width: 1024px) {
  .footer__list-social {
    margin-right: 17px;
  }
}
@media (max-width: 767px) {
  .footer__list-social {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.footer__link-social {
  display: block;
  height: 32px;
  width: 32px;
}
.footer__link-social:hover .footer__svg-social-path-one {
  fill: #f16d7f;
}
.footer__link-social:hover .footer__link-social .footer__svg-social-path-two {
  fill: #ffffff;
}/*# sourceMappingURL=style.css.map */